/* Fonts */

$font-display: "../assets/fonts/digital-7.ttf";
@font-face {
    font-family: 'Digital';
    src: url($font-display);
}


/* Custom classes */

.display {
    line-height: 2.25;
}

.display>* {
    min-height: 5.5rem;
    font-family: 'Digital';
}

.small-display {
    font-size: small;
}

.big-display {
    font-size: xx-large;
}

@import "../../node_modules/bootstrap/scss/bootstrap";