/* Fonts */

$font-display: "../assets/fonts/digital-7.ttf";
@font-face {
    font-family: 'Digital';
    src: url($font-display);
}


/* Custom classes */

.custom-container-fluid {
    position: fixed;
    height: 100%;
}

.calculadora {
    width: 300px;
    height: 350px;
    background-color: #666;
    border-radius: 15px;
}

.display {
    height: 60px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
    .small-display {
        font-size: small;
    }
    .big-display {
        font-size: xx-large;
    }
}

.display>* {
    font-family: 'Digital';
    color: #333;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .button-number {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .button-operator {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap";